.solicitudes{
    width: 354px;
    height: 62px;
    border-radius: 30px;
    background: #293331;
    color: #F5F5F7;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}