.formulario{
    position: relative;
    width: 728px;
    height: 396px;
    border-radius: 30px;
    background: #F5F5F7;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.form-sol-cont{
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
}
.form-sol-cont div{
    width: calc((100% / 2) - 10px);
}
.form-sol{
    width: 303px;
    height: 45px;
    border-radius: 30px;
    border: 1.5px solid #293331;
    background: #FBFBFB;
}
.label-sol{
    display: inline-block;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 10px 0 10px 0;
}
#descripcion{
    width: 303px;
    height: 211px;
    border-radius: 30px;
    border: 1.5px solid #293331;
    background: #FBFBFB;
    overflow: auto;
    word-wrap: break-all;
}
#motivo{
    width: 303px;
    height: 45px;
    border-radius: 30px;
    border: 1.5px solid #293331;
    background: #FBFBFB;
    margin: 0;
}
#submit{
    width: 180px;
    height: 37px;
    border-radius: 30px;
    background-color: #293331;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    margin: 43% 0 0 58%;
}