ul.home {
    list-style: none;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    margin: 30px 50px 0 0;
    > li.home > a.home{
        text-decoration: none;
        color: black;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}
